<header class="navbar navbar-fixed-top">
    <div class="container">
            <%=link_to "Yenetta", '#',id: "logo"%>
        <nav>
            	<ul class="nav navbar-nav navbar-right">
                	<li><%=link_to "Home","#"%></li>
                    <li><%=link_to "Class","#"%></li>
                    <li><%=link_to "Discussion","#"%></li>
                    <li><form><input type="text" name="search" placeholder="Search Yenetta" id="searchBox"></form>
                    <li><%=link_to "Profile","#"%></li>
                    <li><%=link_to "Create","#"%></li> 
                </ul>
        </nav>
    </div>
</header>